apiVersion: punasusi.com/v1alpha1
kind: ClusterClaim
metadata:
  name: placeholder
  namespace: tanuu
  labels:
    cluster-owner: tanuu
spec:
  id: placeholder
  compositionSelector:
    matchLabels:
      provider: aws
      cluster: eks
  parameters:
    nodeSize: small
    minNodeCount: 3
    version: "1.23"