apiVersion: punasusi.com/v1alpha1
kind: ClusterClaim
metadata:
  name: placeholder
  labels:
    cluster-owner: tanuu
spec:
  id: placeholder
  compositionSelector:
    matchLabels:
      provider: azure
      cluster: aks
  parameters:
    nodeSize: small
    minNodeCount: 3